@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.Search {
	background-color: white;

	margin-bottom: 2.5vh;

	border-style: solid;
	border-color: #6497bf;
	border-width: 1px;

	padding-left: min(2vw, 15px);
	padding-right: min(2vw, 15px);
	padding-top: min(3vh, 30px);
	padding-bottom: min(4vh, 30px);

}

.Search p {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 120%;

	margin-top: 1vh;
	margin-bottom: 1vh;
}

.Search input {
	width: calc(100% - 2vw);
}