.Search {
	background-color: white;

	margin-bottom: 3.5vh;

	border-style: solid;
	border-color: lightgray;
	border-width: 1px;

	padding-left: min(2vw, 15px);
	padding-right: min(2vw, 15px);
	padding-top: min(3vh, 30px);
	padding-bottom: min(4vh, 30px);

}

.Search p {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.Search input {
	width: calc(100% - 2vw);
}